.container{
    background-color: green;
    height: 875px;
    width: 1920px;
}

.der {
    float: right;
    width: 15%;
    background-color: red;
    height: 70%;
}

.izq{
    float: left;
    background-color: blue;
    width: 15%;
    height: 70%;
}

.top {
    background-color: yellow;
    height: 15%;
}
.bot {
    background-color: orange;
    height: 15%;
}
.mid {
    background-color: hotpink;
    height: 70%;
}


div{
    height: 100px;
}
svg {background-color: green}
